/* googe fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Browser resest */
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/* make 1rem be 10px so easier to calculate font sizes */
html {
    font-size: 62.5%;
}

img {
	width: 100%;
  	height: auto;
	/* margin: 0 auto;
	display: block; */
}

body, button {
    font-family: 'Indie Flower', cursive;
	font-size: 1.6rem;
}

h1, #score-area, #word-area, #guessed-area, #guess-area, #message-area, #keyboard-area {
	text-align: center;
}

#word-area {
	font-size: 4rem;
}

h1 {
	font-size: 3rem;
}

button {
	font-size: 1rem;
	box-shadow:  0px 20px 30px -10px rgba(38, 57, 77);
	border-radius: 1em 3em 2em 5em/5em 2em 3em 2em;
	color: black;
	border: 0.1em solid black;
	padding: 0em 0.5em;
	margin: 0.2em;
}

button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  } 

  button:disabled {
	color: yellow;
	box-shadow: none;
	border: none;
}
  

#word-area {
	/* float: left; */
	width: 100%;
	background-color: red;
}

#score-area {
	/* float: left; */
	width: 100%;
	background-color: green;
}

#keyboard-area {
	/* float: left; */
	width: 100%;
	background-color: pink;
	/* text-align: center; */
}

#keyboard-area > button {
	font-size: 1.8rem;
}

#guessed-area {
	background-color: blue;
	width: 100%;
	/* float: left; */
}

#guess-area {
	width: 100%;
	background-color: yellow;
	display: flex;
	align-items: center;
	justify-content: center;

	/* text-align: center; */
	/* float: left; */
}

#guess-area > button {
	float: right;
}

#submit-btn {
	margin-left: 50px;
}


#gallows-area {
	background-color: brown;
	margin: 0 auto;
	max-width: 300px;
	/* max-height: 100px; */
	
}

#message-area {
	color: red;
}

#restart-area {
	clear: both;
	float: right;
}

/* media queries */
 @media only screen and (min-width: 500px) {
	body {
		font-size: 2.1rem;
	}

	h1 {
		font-size: 5rem;
	}

	  #gallows-area {
	    background-color: lightblue;
	     /* float: left; */
		 /* overwrite max-width: 300px */
		 max-width: 30%;
		 /* width: 50%; */
	   }
	
	   #keyboard-area {
	     background-color: lightblue;
		 font-size: 4rem;
	     /* float: left; */
	     max-width: 70%;
	    }

		#keyboard-area > button {
			font-size: 1.5rem;
		}

		#gallows-and-keyboard {
			display: flex;
			align-items: center;
		}

		/* button {
			font-size: 4rem;
		} */
  }



  @media only screen and (min-width: 700px) {
	h1 {
		font-size: 6rem;
	}

	#keyboard-area > button {
		font-size: 2rem;
	}

	body {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 850px) {
	#keyboard-area > button {
		font-size: 2.5rem;
	}

	h1 {
		font-size: 7rem;
	}

	body {
		font-size: 3rem;
	}
}









